<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymzhu.dao.SensorDataMapper">
	<insert id="insertSensorData">
		INSERT INTO bcs_sensor(recordtime, temperature,
		humidity, sound)
		VALUES
		(#{sensorData.recordtime},#{sensorData.temperature},#{sensorData.humidity},#{sensorData.sound})
	</insert>

	<select id="selectSensorDataById" resultType="com.ymzhu.domain.SensorData"
		parameterType="java.lang.Integer">
		SELECT *
		FROM
		bcs_sensor
		WHERE
		id = #{id}
	</select>
</mapper>